 <div class = "txzhang-header">
  <a href="/#/solution/new" class="btn btn-danger">
    Compose
  </a>
  <a href="/#/admin/problem/new" class="btn btn-danger">
    Create Problem
  </a>
</div>

<progressbar animate="false" value="problems.length" max="184" type="success"><b>{{problems.length}}/188 (197)</b></progressbar>
<div class = "txzhang-header">
  <span class="col-sm-4">Easy: {{count['Easy']}} / 47 (49)</span>
  <span class="col-sm-4">Medium: {{count['Medium']}} / 97 (102)</span>
  <span class="col-sm-4">Hard: {{count['Hard']}} / 44 (46) </span>
</div>
  Total number as of May 20, 2015

<table class="table table-striped">
  <tr>
    <td>
      #
    </td>
    <td>
      Title
    </td>
    <td>
      Tags
    </td>
    <td>
      Difficulty
    </td>
  </tr>
  <tr ng-repeat="problem in problems">
    <td>
      <a href="/#/admin/{{type}}/problem/{{problem.no}}">
      {{problem.no}}
      </a>
    </td>
    <td>
      <a ng-if="problem.url" target="_blank" href="{{problem.url}}">
      {{problem.title}}
      </a>
      <span ng-if="!problem.url">
      {{problem.title}}
      </span>
    </td>
    <td>
      {{problem.tags}}
    </td>
    <td>
      {{problem.difficulty}}
    </td>
  </tr>
</table>


