<div class = "txzhang-header">
  <a href="/#/solution/new" class="btn btn-danger">
    Compose
  </a>
</div>
<div ng-if="loading">
  <div class="loader">
    <svg class="circular">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
    </svg>
  </div>
</div>
<div ng-show="!loading" >
<div  class="txzhang-header">
<h4>
<img ng-src="{{userProfile.avatar}}" width="30" height="30" alt="folder" class="img-circle"> 
<span ng-show="userProfile.displayName" style="font-size:20px;" ng-bind="userProfile.displayName"></span>
<span ng-show="!userProfile.displayName" style="font-size:20px;" ng-bind="userProfile.email"></span>
</h4>

<progressbar  animate="false" value="(solutions.length * 100 ) / problems.length" max="100" style="min-width:2em;" type="success"><b>{{solutions.length}}/{{problems.length}}</b></progressbar>
<div class = "txzhang-header">
  <span class="col-sm-4">Easy: {{solved['Easy']}} / {{totals['Easy']}} </span>
  <span class="col-sm-4">Medium: {{solved['Medium']}} / {{totals['Medium']}} </span>
  <span class="col-sm-4">Hard: {{solved['Hard']}} / {{totals['Hard']}} </span>
</div>
</div>

<h4 ng-show="user.email == userProfile.email" > Not solved </h4>
<table ng-show="user.email == userProfile.email" class="table table-striped">
  <tr>
    <td>
      
    </td>
    <td>
      #
    </td>
    <td>
      Title
    </td>
    <td>
      Tags
    </td>
    <td>
      Difficulty
    </td>
  </tr>
  <tr ng-repeat="problem in toSolveProblems | orderBy:'no' ">
        
    <td>
      <a href="/#/{{user.email}}/{{type}}/solution/{{problem.no}}">
      <span class="glyphicon glyphicon-edit"></span>
      </a>
    </td>   
    <td>
      {{problem.no}}
    </td>
    <td>
      <a ng-if="problem.url" target="_blank" href="{{problem.url}}">
      {{problem.title}}
      </a>
      <span ng-if="!problem.url">
      {{problem.title}}
      </span>
    </td>
    <td>
      {{problem.tags}}
    </td>
    <td>
      {{problem.difficulty}}
    </td>
  </tr>
</table>
<h4> Solved </h4>
<table class="table table-striped">
  <tr>
    <td>
      Mark
    </td>
    <td style="display:none;">
      Sort
    </td>
    <td>
      #
    </td>
    <td>
      Title
    </td>
    <td>
      Tags
    </td>
    <td>
      Difficulty
    </td>
  </tr>
  <tr ng-repeat="problem in solvedProblems | orderBy:'no'">
    <td>
      <div ng-if="!detailedProblems[problem.no]"> 
        <span style="color:orange;" class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
      </div>
      <div ng-if="detailedProblems[problem.no]">
        <span ng-show="detailedProblems[problem.no]['solution']['onmyself'] =='Yes'" style="color:green;" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      <span ng-show="detailedProblems[problem.no]['solution']['onmyself'] =='No'" style="color:red;" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
       </div>
    </td>      
    <td style="display:none;">
      <div ng-if="!detailedProblems[problem.no]"> 
        3
      </div>
      <div ng-if="detailedProblems[problem.no]">
        <span ng-show="detailedProblems[problem.no]['solution']['onmyself'] =='Yes'" aria-hidden="true">1</span>
      <span ng-show="detailedProblems[problem.no]['solution']['onmyself'] =='No'" >2</span>
       </div>
    </td>   
    <td>
      <a href="/#/{{userProfile.email}}/{{type}}/solution/{{problem.no}}">
      {{problem.no}}
      </a>
    </td>
    <td>
      <a ng-if="problem.url&&user.email==userProfile.email" target="_blank" href="{{problem.url}}">
      {{problem.title}}
      </a>
      <a ng-if="problem.url&&user.email!=userProfile.email" href="/#/{{userProfile.email}}/{{type}}/solution/{{problem.no}}">
      {{problem.title}}
      </a>

      <span ng-if="!problem.url">
      {{problem.title}}
      </span>
    </td>
    <td>
      {{problem.tags}}
    </td>
    <td>
      {{problem.difficulty}}
    </td>
  </tr>
</table>
</div>

