 <div class = "txzhang-header">
  <a href="/#/solution/new" class="btn btn-danger">
    Compose
  </a>
  <a class="btn btn-primary" href="/#/{{user.email}}/algorithms/solutions">
  My Solutions
</a>
</div>
<table class="table table-striped">
  <tr>
    <td>
    </td>
    <td>
      #
    </td>
    <td>
      Title
    </td>
    <td>
      Tags
    </td>
    <td>
      Difficulty
    </td>
  </tr>
  <tr ng-repeat="problem in problems">
    <td>

      <div ng-if="!detailedProblems[problem.no]"> 
        <span style="color:orange;" class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
      </div>
      <div ng-if="detailedProblems[problem.no]">
        <span ng-show="detailedProblems[problem.no]['solution']['onmyself'] =='Yes'" style="color:green;" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      <span ng-show="detailedProblems[problem.no]['solution']['onmyself'] =='No'" style="color:red;" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
       </div>

    </td>      
    <td>
      <a href="/#/admin/{{type}}/problem/{{problem.no}}">
      {{problem.no}}
      </a>
    </td>
    <td>
      <a ng-if="problem.url" target="_blank" href="{{problem.url}}">
      {{problem.title}}
      </a>
      <span ng-if="!problem.url">
      {{problem.title}}
      </span>
    </td>
    <td>
      {{problem.tags}}
    </td>
    <td>
      {{problem.difficulty}}
    </td>
  </tr>
</table>


