



<div class = "txzhang-header">
	<a href="/#/{{useremail}}/{{type}}/solutions" class="glyphicon glyphicon-chevron-left txzhang-hover-pointer txzhang-a"  aria-hidden="true"></a>
	<span class="txzhang-header-font" ng-bind="problem.no"></span>	
	<span class="txzhang-header-font" ng-bind="problem.title"></span>	
	<span class="txzhang-header-font" ng-bind="problem.difficulty"></span>
</div>


<div class="panel panel-default">
	<div class="panel-heading">Problem Description</div>
	<div class="panel-body">
		<div ng-bind-html="problem.description">
		</div>
	</div>
</div>


<div class="panel panel-default">
	<div class="panel-heading">Solution Details</div>
	<div class="panel-body">
		<span ng-bind="solution.difficulty"></span>
		<span ng-bind="solution.time"></span>
		<span ng-bind="solution.tags"></span>
	</div>
</div>
</div>

<div ng-if="solution.analysis" class="panel panel-default">
	<div class="panel-heading">Solution Analysis</div>
	<div class="panel-body">
		<div ng-bind="solution.analysis">
		</div>
	</div>
</div>


<div class="panel panel-default">
	<div class="panel-heading">Solution</div>
	<div class="panel-body">
			<div ng-bind-html="solution.solution">
		</div>
	</div>
</div>

