<div class = "txzhang-header">
  <a ng-click="save()" class="btn btn-primary pull-right">
    Save
  </a>
</div>

<div class="panel panel-default">
  		<div class="panel-body">
	<form class="container-fluid">
		<div class="form-group col-sm-2">
			<label for="no">No</label>
			<input class="form-control" id="no" ng-model="problem.no"></input>
		</div>
		<div class="form-group col-sm-2">
			<label for="time">Time</label>
			<input class="form-control" id="time" ng-model="problem.time"></input>
		</div>
		<div class="form-group col-sm-3">
			<label for="difficulty">Difficulty</label>
			<ol style="width:80%;" id="difficulty" class="nya-bs-select dropup" ng-model="problem.difficulty">
		    <li class="nya-bs-option" value="Easy">
		      <a>Easy</a>
		    </li>
		    <li class="nya-bs-option" value="Medium">
		      <a>Medium</a>
		    </li>
		    <li class="nya-bs-option" value="Hard">
		      <a>Hard</a>
		    </li>
		  	</ol>
		</div>
		<div class="form-group col-sm-3">
			<label for="onmyself">I Solved</label>
			<ol style="width:80%;" id="onmyself" class="nya-bs-select dropup" ng-model="problem.onmyself">
		    <li class="nya-bs-option" value="Yes">
		      <a>Yes</a>
		    </li>
		    <li class="nya-bs-option" value="No">
		      <a>No</a>
		    </li>
		  	</ol>
		</div>
		<div class="form-group col-sm-12">
			<label for="analysis">Analysis</label>
			<textarea class="form-control msd-elastic" id="analysis" ng-model="problem.analysis"></textarea>
		</div>
		<div class="form-group col-sm-12">
		<label for="solution">Solution</label> <a target="_blank" href="http://hilite.me">Get Styled Code HTML</a>
		<textarea class="form-control msd-elastic" id="solution" ng-model="problem.solution"></textarea>
		</div>
		
	</form>

	</div>
</div>
