



<div class = "txzhang-header">
	<a href="/#/{{useremail}}/{{type}}/problems" class="glyphicon glyphicon-chevron-left txzhang-hover-pointer txzhang-a"  aria-hidden="true"></a>
	<span class="txzhang-header-font" ng-bind="problem.no"></span>
	<span class="txzhang-header-font" ng-bind="problem.title"></span> - <span class="txzhang-header-font" ng-bind="solution.atype"></span>	

	<span ng-show="solution.onmyself =='Yes'" style="color:green;" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    <span ng-show="solution.onmyself =='No'" style="color:red;" class="glyphicon glyphicon-remove" aria-hidden="true"></span>

	<a ng-show="useremail == user.email && editmode == false" ng-click="switchmode()" class="btn btn-primary pull-right" ng-disabled="editmode"> <span>Edit</span> </a>
	<a ng-show="useremail == user.email && editmode == true" ng-click="save()" class="btn btn-primary pull-right" ng-disabled="!editmode&problem_loaded&solution_loaded"> <span>Save</span> </a>
</div>


<div class="panel panel-default">
	<div class="panel-heading">Problem Description
		<span class="pull-right" ng-bind="problem.difficulty"></span>
	</div>
	<div class="panel-body">
		<div ng-bind-html="problem.description">
		</div>
	</div>
</div>

<div ng-if="editmode == true" class="panel panel-default">
  		<div class="panel-body">
	<form class="container-fluid">
		<div class="form-group col-sm-2">
			<label for="time">Time</label>
			<input class="form-control" id="time" ng-model="solution.time"></input>
		</div>
		<div class="form-group col-sm-3">
			<label for="own_difficulty">Own Difficulty</label>
			<ol style="width:80%;" id="own_difficulty" class="nya-bs-select dropup" ng-model="solution.own_difficulty">
		    <li class="nya-bs-option" value="Easy">
		      <a>Easy</a>
		    </li>
		    <li class="nya-bs-option" value="Medium">
		      <a>Medium</a>
		    </li>
		    <li class="nya-bs-option" value="Hard">
		      <a>Hard</a>
		    </li>
		  	</ol>
		</div>
		<div class="form-group col-sm-2">
			<label for="atype">Language</label>
			<ol style="width:90%;" id="atype" class="nya-bs-select dropup" ng-model="solution.lang">
		    <li class="nya-bs-option" value="java">
		      <a>Java</a>
		    </li>
		    <li class="nya-bs-option" value="python">
		      <a>Python</a>
		    </li>
		    <li class="nya-bs-option" value="c++">
		      <a>C++</a>
		    </li>
		    <li class="nya-bs-option" value="c#">
		      <a>C#</a>
		    </li>
		    <li class="nya-bs-option" value="c">
		      <a>C</a>
		    </li>
		    <li class="nya-bs-option" value="javascript">
		      <a>Javascript</a>
		    </li>
		    <li class="nya-bs-option" value="ruby">
		      <a>Ruby</a>
		    </li>
		  	</ol>
		</div>
		<div class="form-group col-sm-3">
			<label for="onmyself">I Solved</label>
			<ol style="width:80%;" id="onmyself" class="nya-bs-select dropup" ng-model="solution.onmyself">
		    <li class="nya-bs-option" value="Yes">
		      <a>Yes</a>
		    </li>
		    <li class="nya-bs-option" value="No">
		      <a>No</a>
		    </li>
		  	</ol>
		</div>

		<div class="form-group col-sm-12">
			<label for="analysis">Analysis</label>
			<textarea class="form-control msd-elastic" id="analysis" ng-model="solution.analysis"></textarea>
		</div>
		<div class="form-group col-sm-12">
		<label for="solution">Solution</label> 
		<textarea class="form-control msd-elastic" id="solution" ng-model="solution.solution"></textarea>
		</div>
		
	</form>

	</div>
</div>

<div ng-if="solution.analysis" class="panel panel-default">
	<div class="panel-heading">Solution Analysis
		<span class="pull-right" ng-bind="solution.difficulty"></span>
		<span class="pull-right" ng-bind="solution.tags"></span>
	</div>
	<div class="panel-body">
		<div ng-bind="solution.analysis">
		</div>
	</div>
</div>




<div class="panel panel-default">
	<div class="panel-heading">Solution
		<span class="pull-right" ng-bind="solution.lang"></span>
	</div>
	<pre><code class="{{solution.lang}}" id="code-snippet"></code></pre>

</div>










