 <div class = "txzhang-header">
  <a href="/#/solution/new" class="btn btn-danger">
    Compose
  </a>
</div>
<table class="table table-striped">
  <tr>
    <td>
    </td>
    <td>
      #
    </td>
    <td>
      Title
    </td>
    <td>
      Tags
    </td>
    <td>
      Difficulty
    </td>
    <td>
      Time
    </td>
  </tr>
  <tr ng-repeat="solution in solutions">
    <td>
      <span ng-show="solution.onmyself =='Yes'" style="color:green;" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      <span ng-show="solution.onmyself =='No'" style="color:red;" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </td>
    <td>
      <a href="/#/{{useremail}}/{{type}}/solution/{{solution.no}}">
      {{solution.no}}
      </a>
    </td>
    <td>
      <a href="/#/{{useremail}}/{{type}}/solution/{{solution.no}}">
      {{solution.title}}
      </a>
    </td>
    <td>
      {{solution.tags}}
    </td>
    <td>
      {{solution.difficulty}}
    </td>
    <td>
      {{solution.time}}
    </td>
  </tr>
</table>


